/**
 * @section : Global variables
 * @project : PROJECT_NAAM
 * @author  : Naam Developer <developer@e-sites.nl>
 */

/*------------------------------------*\
    COLORS
\*------------------------------------*/
$c-black:				black;
$c-white:				white;

$c-primary:				#fc274a;
$c-secondary:			orange;
$c-tertiair:			green;

$c-body-bg:				white;
$c-text:				black;
$c-link:				$c-primary;

$c-border:				#ccc;

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
$f-font-family:			Arial, sans-serif;

$f-size-xs:				12px;
$f-size-s:				14px;
$f-size:				16px;
$f-size-l:				18px;
$f-size-xl:				20px;

$f-size-h1:				36px;
$f-size-h2:				28px;
$f-size-h3:				22px;
$f-size-h4:				18px;

/*------------------------------------*\
    MEDIA QUERY BREAKPOINTS
\*------------------------------------*/
/* Breakpoints, like your shirt sizes */
$bp-sm:					480px;
$bp-md:					640px;
$bp-lg:					960px;
$bp-xl:					1140px;

/* Max widths of the various breakpoints */
$bp-max-xs:				$bp-sm - 1;
$bp-max-sm:				$bp-md - 1;
$bp-max-md:				$bp-lg - 1;
$bp-max-lg:				$bp-xl - 1;

$enable-flex:			false;
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

$enable-grid-classes: true;

@mixin _assert-ascending($map, $map-name) {
	$prev-key: null;
	$prev-num: null;
	@each $key, $num in $map {
		@if $prev-num != null and $prev-num >= $num {
			@warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
		}
		$prev-key: $key;
		$prev-num: $num;
	}
}

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
	xs: 0,
	sm: 544px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
	sm: 576px,
	md: 720px,
	lg: 940px,
	xl: 1140px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:		12 !default;
$grid-gutter-width:	30px !default;