@font-face {
  font-family: 'museo_sans300';
  src: url('../../assets/fonts/museosans-300-webfont.woff2') format('woff2'),
       url('../../assets/fonts/museosans-300-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans500';
  src: url('../../assets/fonts/museosans_500-webfont.woff2') format('woff2'),
       url('../../assets/fonts/museosans_500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans700';
  src: url('../../assets/fonts/museosans_700-webfont.woff2') format('woff2'),
       url('../../assets/fonts/museosans_700-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sansregular';
  src: url('../../assets/fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
       url('../../assets/fonts/pt_sans-web-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
