{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 10"
          ]
        },
        "debug": true
      }
    ]
  ],
  "plugins": ["syntax-dynamic-import"]
}
