{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"es6": true
	},
	"plugins": ["compat"],
	"ecmaFeatures": {
		"experimentalObjectRestSpread": true,
	},
	"rules": {
		"compat/compat": 2
	}
}
