.color-primary {
	color: $primary-color;
}

.fill-primary {
	fill: $primary-color;
}

.bg-primary {
	background-color: $primary-color;
}

.color-secondary {
	color: $secondary-color;
}

.fill-secondary {
	fill: $secondary-color;
}

.bg-secondary {
	background-color: $secondary-color;
}
