/*  =========================================================================
    mixins.buttons
    ========================================================================= */

/**
 * 1. Use the shared input styles to match the button with inputs.
 * 2. Remove possible text decoration from the aplied element, eg. links.
 */
@mixin btn {
  @include shared-input; /* [1] */
  -webkit-font-smoothing: antialiased;
  text-decoration: none; /* [2] */
  text-align: center;
  user-select: none;
  color: $color-light;
  background-color: $color-primary;
  cursor: pointer;

  #{$all-hovers} {
    background-color: darken($color-primary, 10%);
  }

  /**
   * 1. Shit needs to be immutable, disabled is disabled
   */
  &:disabled {
    color: $color-gray-medium !important; /* [1] */
    background-color: $color-gray-light !important; /* [1] */
    border-color: transparent !important;
    cursor: not-allowed;
  }

  svg {
    &:first-child {
      margin-right: $spacing-small;
    }

    &:last-child {
      margin-left: $spacing-small;
    }

    &:first-child:last-child {
      margin: 0;
    }
  }
}



/*  Sizes
    ========================================================================= */

@mixin btn-sm {
  padding: $spacing-tiny $spacing-base;
  font-size: $font-size-smaller;
}

@mixin btn-md {
  font-size: $font-size-small;
}



/*  Cosmetic types
    ========================================================================= */

@mixin btn-secondary {
  color: $color-dark;
  background-color: $color-secondary;

  #{$all-hovers} {
    background-color: darken($color-secondary, 10%);
  }
}

@mixin btn-tertiary {
  color: $color-dark;
  background-color: $color-tertiary;

  #{$all-hovers} {
    background-color: darken($color-tertiary, 10%);
  }
}



/*  Ghost types
    ========================================================================= */

/**
 * Shared, internal ghost mixin
 */
@mixin _btn-ghost-reset {
  border-color: currentColor;

  &,
  #{$all-hovers} {
    background: transparent;
  }
}

@mixin btn-ghost {
  @include _btn-ghost-reset;
  color: $color-dark;

  #{$all-hovers} {
    color: lighten($color-dark, 30%);
  }
}

@mixin btn-ghost-primary {
  @include _btn-ghost-reset;
  color: $color-primary;

  #{$all-hovers} {
    color: darken($color-primary, 10%);
  }
}

@mixin btn-ghost-secondary {
  @include _btn-ghost-reset;
  color: $color-secondary;

  #{$all-hovers} {
    color: darken($color-secondary, 10%);
  }
}

@mixin btn-ghost-tertiary {
  @include _btn-ghost-reset;
  color: $color-tertiary;

  #{$all-hovers} {
    color: darken($color-tertiary, 10%);
  }
}



/*  Clean
    ========================================================================= */

@mixin btn-clean {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  font: inherit;
  color: inherit;
  box-shadow: none;
  background-color: transparent;

  #{$all-hovers} {
    background-color: transparent;
    color: inherit;
  }
}
