/**
* Button mixins
*/
@mixin btn {
	@include btn-color();
	transition: all .2s ease;
	display: inline-block;
	appearance: none;
	border: 0;
	border-radius: $button-border-radius;
	color: #fff;
	cursor: pointer;
	font-family: $font-heading;
	font-size: $button-font-size;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	line-height: 1.625;
	padding: $small-spacing $base-spacing;
	text-decoration: none;
	text-align: center;
	transition: background-color $base-duration $base-timing;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	text-transform: uppercase;
	box-shadow: inset 0 -2px rgba(#000, 0.2), 0 1px 2px rgba(#000, 0.3);

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	svg {

		&:first-child {
			margin-right: $small-spacing;
		}

		&:last-child {
			margin-left: $small-spacing;
		}

		&:first-child:last-child {
			margin: 0;
		}
	}
}

// Button sizing
@mixin btn-sm {
	padding: $small-spacing / 2 $base-spacing;
	font-size: $smaller-font-size;
}

@mixin btn-md {
	font-size: $small-font-size;
}

// Button skins
@mixin btn-primary {
	@include btn-color(background-color, $primary-color);
}

@mixin btn-secondary {
	@include btn-color(background-color, $secondary-color);
}

@mixin btn-tertiary {
	@include btn-color(background-color, $tertiary-color);
	@include btn-color(color, $base-font-color);
}

// Ghost buttons
@mixin btn-ghost {
	border: 1px solid currentColor;
	box-shadow: none;
	background: #fff;

	&:focus,
	&:hover {
		background: #fff;
	}
}

@mixin btn-ghost-primary {
	@include btn-color(color, $primary-color);
	@include btn-hover-color(background-color, $primary-color);
	@include btn-hover-color(color, #fff);
}

@mixin btn-ghost-secondary {
	@include btn-color(color, $secondary-color);
	@include btn-hover-color(background-color, $secondary-color);
	@include btn-hover-color(color, #fff);
}

@mixin btn-ghost-tertiary {
	@include btn-color(border-color, $tertiary-color);
	@include btn-color(color,  $secondary-color);
	@include btn-hover-color(border-color, $secondary-color);
	@include btn-hover-color(color, $secondary-color);
}


@mixin btn-clean {
	margin: 0;
	border-radius: 0;
	padding: 0;
	font-family: $font-regular;
	color: $base-font-color;
	box-shadow: none;
	background-color: transparent;

	&:focus,
	&:hover {
		background-color: transparent;
	}
}
