/**
 * tools.mixins.spacing
 * Helper mixins for shared spacings
 */

@mixin v-spacing($spacing: $spacing-base) {
  padding-top: $spacing;
  padding-bottom: $spacing;
}

@mixin h-spacing($spacing: $spacing-base) {
  padding-left: $spacing;
  padding-right: $spacing;
}

@mixin spacing($spacing: $spacing-base) {
  @include v-spacing($spacing: $spacing);
  @include h-spacing($spacing: $spacing);
}
