// Brand/Base colors
$color-primary: #f0f;
$color-secondary: #ff0;
$color-tertiary: #0ff;

// Status colors
$color-red: #FC3030;
$color-green: #74BD00;

// Grays
$color-gray-light: #F5F5F6;
$color-gray-medium: #E0E0E4;
$color-gray-dark: #2C2F33;

// Dark and light
$color-dark: #000;
$color-light: #fff;

// Font Colors
$color-base-font: $color-gray-dark;
$color-action: $color-primary;

// Button Colors
$color-base-button: $color-primary;
$color-secondary-button: $color-secondary;

// Border Colors
$color-base-border: $color-gray-medium;

// Background Colors
$color-base-background: $color-light;
