// Other Sizes
$base-spacing: 20px;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border: 1px solid $base-border-color;
$base-border-radius: $small-spacing;
$button-border-radius: 25px;

// Fixed header offsetting
$toolbar-offset: 80px;
