// Other Sizes
$spacing-base: 20px;
$spacing-small: $spacing-base / 2;

// Border
$border-base: 1px solid $color-base-border;
$border-base-radius: $spacing-small;
$border-radius-button: 25px;
