// Typography
$font-regular: Arial, sans-serif;
$font-heading: Verdana, $font-regular;

$font-family-base: $font-regular;
$font-family-heading: $font-heading;

// Font Sizes
$font-size-base: 1rem;
$font-size-larger: 1.5rem;
$font-size-large: 1.25rem;
$font-size-small: 0.875rem;
$font-size-smaller: 0.8125rem;
$font-size-button: 1.0625rem;

// Line height
$line-height-base: 1.5;
$line-height-heading: 1.2;

// Heading scale
$heading-scale: 1.21;
