/*  =========================================================================
    settings.typography
    Base typographic settings
    ========================================================================= */

// Fonts
$font-family-base: Arial, sans-serif !default;
$font-family-heading: Verdana, $font-family-base !default;

// Font Sizes
$font-size-base: 1rem !default;
$font-size-larger: 1.5rem !default;
$font-size-large: 1.25rem !default;
$font-size-small: 0.875rem !default;
$font-size-smaller: 0.75rem !default;

// Line height
$line-height-base: 1.5 !default;
// $line-height-heading: 1.2; // ^refactor: Do we need this?

// Heading scale
// $heading-scale: 1.21; // ^refactor: Do we need this?
