// Colors
$color-swan: #fff;
$color-fox: #FEA615;
$color-panther: #161815;
$color-mouse: #979797;
$color-toad: #3F664A;
$color-dory: #3177C8;

// Font Colors
$base-font-color: $color-swan;
$action-color: $color-fox;

// Button Colors
$base-button-color: $color-toad;
$primary-button-color: $color-swan;

// Border Colors
$base-border-color: $color-mouse;

// Background Colors
$base-background-color: $color-panther;
