// Typography
$font-regular:	Helvetica, Arial, sans-serif;
$font-bold:		'Times new Roman', Arial, sans-serif;

$base-font-family: $font-regular;
$heading-font-family: $font-bold;

// Font Sizes
$base-font-size: 16px;
$large-font-size: 26px;
$small-font-size: 15px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;